---
import MainLayout from "../../layouts/main-layout.astro";
import ProjectCard from "../../components/ProjectCard.astro";
// const projects = await Astro.glob("./*.mdx");
const allProjects = await Astro.glob("./*.md");
---

<MainLayout title="Projects">
	<section class="flex flex-col gap-40 my-28 justify-start items-center w-full">
		{
			allProjects.map((projectEntry, index) => (
				<ProjectCard projectInfo={projectEntry.frontmatter} cardIndex={index % 2}/>
			))
		}
	</section>
</MainLayout>
