---
import { Image } from "astro:assets";
const response = await fetch(
	"https://api.nasa.gov/planetary/apod?api_key=Ja94JMq1boHsHu6Y53Uei9AY7YF9iWu1GHJb0inB"
);
const apodData = await response.json();
---

<div class="apod relative max-h-64">
	<a href="https://apod.nasa.gov/apod/">
		<Image
			class="object-cover h-full rounded-2xl"
			src={apodData.url}
			width={500}
			height={100}
			quality={65}
			loading="lazy"
			alt={apodData.title}
		/>
	</a>
</div>
