---
import { Image } from "astro:assets";
import Icon from "./Icon.astro";
import playgroundImg from "../../content/images/sandbox.webp";
import mikoPhoto from "../../assets/photography-img.JPG";
import LatestProjects from "./LatestProjects.astro";
import SpotifyPlaylists from "./SpotifyPlaylists.astro";
// import Apod from "./Apod.astro";
import Apod from "../react/Apod";
import StatusCheck from "./StatusCheck.astro";
---

<div class="parent w-2/3 3xl:w-3/5 [&>*]:rounded-2xl">
	<LatestProjects />
	<!-- <div class="status">status check</div> -->
	<StatusCheck />
	<div class="photography relative w-full group">
		<a href="https://mdimo.gitlab.io/">
			<Image
				src={mikoPhoto}
				width={mikoPhoto.width}
				quality={80}
				loading="lazy"
				class="h-full rounded-2xl group-hover:brightness-75 duration-100"
				alt="image of me with a camera, link leads to photography portfolio"
			/>
			<div class="opacity-0 hover:opacity-100 duration-300 absolute inset-0 z-2 flex justify-center items-center text-2xl prose overflow-hidden text-white font-bold text-center">
				<div class="text line-clamp-3">also a "photographer"</div>
			</div>
		</a>
	</div>
	<a href="https://github.com/MYDimo?tab=repositories">
		<Icon iconName="github" />
	</a>
	<a href="https://myanimelist.net/profile/olhmi"><Icon iconName="mal" /></a>
	<div class="playground relative w-full group">
			<a href="/playground">
				<Image
					src={playgroundImg}
					width={playgroundImg.width}
					loading="lazy"
					class="object-cover object-left h-full rounded-2xl group-hover:brightness-75 duration-100"
					alt="image of a sandbox"
					quality={80}
				/>
				<div class="opacity-0 hover:opacity-100 duration-300 absolute inset-0 z-2 flex justify-center items-center text-2xl prose overflow-hidden text-white font-bold text-center">
					<div class="text line-clamp-3">playground - <br /> small stuff, but pretty cool</div>
				</div>
			</a>
	</div>
	<!-- <div class="lastfm">lastfm</div> -->
	<div class="gradient group">
		<div class="w-full h-full bg-gradient-to-r from-teal-400 to-yellow-200 rounded-2xl group-hover:hidden duration-500"></div>
		<div class="bg-gradient-to-l from-pink-500 to-yellow-500 bg-clip-text text-transparent text font-bold text-center text-7xl leading-normal hidden group-hover:flex duration-500">I &lt3 gradients</div>
	</div>
	<a href="https://www.instagram.com/mihaylo.dimo/"
		><Icon iconName="instagram" /></a
	>
	<a href="https://www.linkedin.com/in/mihaylo-dimo/"
		><Icon iconName="linkedin" /></a
	>
	<a href="https://discord.com/users/daimyoolhmi"><Icon iconName="discord" /></a
	>
	<!-- <Apod /> -->
	<Apod client:visible />
	<SpotifyPlaylists />
</div>
