---
function getRandomArbitrary(min, max) {
	return Math.random() * (max - min) + min;
}
const randomNum = Math.round(getRandomArbitrary(0, 3));
console.log(randomNum);
---

{
	randomNum == 0 && (
		<div class="whoami flex items-center justify-center bg-[#282828]">
			<iframe
				style="border-radius:12px"
				title="a spotify playlist called moodqualizer"
				src="https://open.spotify.com/embed/playlist/0JfLHJhQebBwBIZXQDMqOD?utm_source=generator&theme=0"
				width="95%"
				height="152"
				frameBorder="0"
				allowfullscreen=""
				allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
				loading="lazy"
			/>
		</div>
	)
}
{
	randomNum == 1 && (
		<div class="whoami flex items-center justify-center bg-[#282828]">
			<iframe
				style="border-radius:12px"
				title="a spotify playlist called inrapdepths"
				src="https://open.spotify.com/embed/playlist/01pe3RgsLEnu9fAYmdwTTX?utm_source=generator&theme=0"
				width="95%"
				height="152"
				frameBorder="0"
				allowfullscreen=""
				allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
				loading="lazy"
			/>
		</div>
	)
}
{
	randomNum == 2 && (
		<div class="whoami flex items-center justify-center bg-[#6c7a70]">
			<iframe
				style="border-radius:12px"
				title="a spotify playlist called rapatrack"
				src="https://open.spotify.com/embed/playlist/2rcswHydmssSi1Ihtd90GK?utm_source=generator"
				width="95%"
				height="152"
				frameBorder="0"
				allowfullscreen=""
				allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
				loading="lazy"
			/>
		</div>
	)
}
{
	randomNum == 3 && (
		<div class="whoami flex items-center justify-center bg-[#b65f00]">
			<iframe
				style="border-radius:12px"
				title="a spotify playlist called inrapdepths"
				src="https://open.spotify.com/embed/playlist/185Xs23S55cmGJKeeuGCl5?utm_source=generator"
				width="95%"
				height="152"
				frameBorder="0"
				allowfullscreen=""
				allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
				loading="lazy"
			/>
		</div>
	)
}