---
import "xterm/css/xterm.css";
---

<div
	class="status flex flex-col pl-2 pt-2 rounded-2xl bg-gray-600 overflow-hidden"
>
	<div id="terminal" class="h-[300px]"></div>
</div>

<script>
	import { Terminal } from "xterm";
	import { FitAddon } from "@xterm/addon-fit/lib/addon-fit.js";
	import { WebLinksAddon } from "@xterm/addon-web-links/lib/addon-web-links.js";
  import { keyTrigger } from "./utils";
	const term = new Terminal({
		fontFamily: '"Cascadia Code", Menlo, monospace',
		fontSize: 13,
		cursorBlink: "block",
		scrollback: 1000,
		tabStopWidth: 4,
		theme: {
			foreground: "#F8F8F8",
			background: "#4b5563",
			selection: "#5DA5D533",
			black: "#1E1E1D",
			brightBlack: "#262625",
			red: "#CE5C5C",
			brightRed: "#ff8585",
			green: "#5BCC5B",
			brightGreen: "#72FF72",
			yellow: "#CCCC5B",
			brightYellow: "#FFFF72",
			blue: "#5D5DD3",
			brightBlue: "#7279FF",
			magenta: "#BC5ED1",
			brightMagenta: "#E572FF",
			cyan: "#5DA5D5",
			brightCyan: "#72F0FF",
			white: "#F8F8F8",
			brightWhite: "#FFFFFF",
		},
		allowProposedApi: true,
	});
	const fitAddon = new FitAddon();
  const webLinks = new WebLinksAddon()
	const promptLoc = " mihaylo-dimo: ~ % ";
	const commandList = ["help", "clear", "ls", "system_info"];

	term.loadAddon(fitAddon);
  term.loadAddon(webLinks);
	term.open(document.getElementById("terminal"));
	fitAddon.fit();
	term.write("\x1B[1mmihaylo-dimo: ~ %\x1B[22m ");

	term.onData((e) => {
		keyTrigger(e, term);
	});
</script>
