---
import MainLayout from "../layouts/main-layout.astro";
---

<MainLayout title="Contact me">
	<div
		class="flex flex-col items-center justify-center w-full h-full [&>*]:p-4"
	>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt quam, hic aut iure obcaecati saepe earum sed veniam velit, modi ut iste molestias qui doloremque molestiae necessitatibus tenetur ipsum expedita?</p>
	</div>
</MainLayout>
