---
import { Image } from "astro:assets";
import MainLayout from "../layouts/main-layout.astro";
import "../style/main.css";
import mikoImg from "../content/images/miko.jpg";
import Bento from "../components/BentoGrid/BentoContainer.astro";
---

<MainLayout title="Home">
	<section
		class="homeHero flex flex-col items-center justify-center h-screen mb-10"
	>
		<Image
			src={mikoImg}
			class="xl:w-2/4 lg:w-1/3 md:w-2/4 w-3/4 h-auto rounded-3xl shadow-lg rounded-2xl object-cover"
			alt="A portrait of Mihaylo Dimo"
			quality={80}
			format="webp"
			width={mikoImg.width}
			loading="eager"
		/>
		<h1 class="text-3xl font-bold">Hi, I'm Mihaylo</h1>
		<h2 class="text-xl font-bold">and I'm a web developer</h2>
		<h2 class="text-xl font-italics">this website is currently WIP</h2>
	</section>
	<Bento />

	<script>
		import { animate, inView, scroll } from "motion";
		import { getRandomIntInclusive } from "../utils/getRandomIntInclusive";

		const allImgs = await import.meta.glob(
			"/src/content/images/testImages/*.jpg"
		);
		const newArr = Object.keys(allImgs);
		const rotoCard = document.querySelector(".rotoCard");
		const aboutMeSection = document.querySelector(".aboutMe");

		document.querySelectorAll(".homeHero").forEach((item) => {
			scroll(animate(item, { opacity: [1, 0] }), {
				target: item,
				offset: ["start start", "end 60%"],
			});
		});

		inView(
			".aboutMe",
			({ target }) => {
				const controls = animate(
					rotoCard,
					{ width: ["250px", "0px", "250px"] },
					{ duration: 2, repeat: 0 }
				);

				return (leaveInfo) => controls.stop();
			},
			{ amount: 1 }
		);

	</script>
</MainLayout>
