---
import MainLayout from "../layouts/main-layout.astro";
---

<MainLayout title="Code playground">
		<h1 class="text-2xl">This page will contain small chunks of components/stuff that I've coded and think are interesting</p>
</MainLayout>
