.parent {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(8, 1fr);
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.projects {
	grid-area: 1 / 1 / 6 / 5;
}
.terminal {
	grid-area: 6 / 1 / 9 / 4;
}
.photography {
	grid-area: 6 / 4 / 9 / 6;
}
.github {
	grid-area: 8 / 3 / 9 / 4;
}
.mal {
	grid-area: 9 / 3 / 10 / 4;
}
.playground {
	grid-area: 1 / 5 / 4 / 8;
}
.gradient {
	grid-area: 1 / 8 / 3 / 11;
}
.instagram {
	grid-area: 10 / 3 / 11 / 4;
}
.linkedin {
	grid-area: 4 / 5 / 5 / 6;
}
.discord {
	grid-area: 5 / 5 / 6 / 6;
}
.apod {
	grid-area: 4 / 6 / 7 / 11;
}
.whoami {
	grid-area: 7 / 6 / 9 / 11;
}

@media (width <= 768px) {
	.parent {
		display: flex;
		flex-direction: column;
		width: 90%;
	}
}

.xterm * {
	scrollbar-width: none;
}

.xterm *::-webkit-scrollbar {
	display: none;
	position: relative;
}
