---
type Props = {
	tags: Array<string>;
}; 

const { tags } = Astro.props
---

<div class="flex flex-row tags justify-start flex-wrap">
  {tags.map((tag) => (
    <sub class="italic mx-1">{tag}</sub>
  ))}
</div>