---
import { ViewTransitions } from "astro:transitions";
// import Nav from "../components/Nav";
const { title } = Astro.props;
import { fade } from 'astro:transitions';
import Nav from "../components/Nav.astro";
---

<html lang="en">
	<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
		<meta title={`Mihaylo Dimo`} />
		<link rel="icon" href="/icon.svg" type="image/svg+xml" />
		<title>{`Mihaylo Dimo`}</title>
		<meta name="view-transition" content="same-origin" />
		<ViewTransitions fallback="none"/>
  </head>
	<body class="bg-slate-100 flex flex-col min-h-screen overflow-y-scroll">
		<Nav transition:persist />
		<main class="flex flex-col flex-1 gap-10 items-center place-content-center">
			<slot />
		</main>
		<footer class="self-center">© 2023 Mihaylo Dimo</footer>
	</body>
</html>
