---
import { ViewTransitions } from "astro:transitions";
import Nav from "../components/Nav";
import { fade } from 'astro:transitions';

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
		<meta title={`Mihaylo Dimo`} />
		<link rel="icon" href="/icon.svg" type="image/svg+xml" />
		<title>{`MD`}</title>
    <ViewTransitions />
  </head>
  <!-- <body class="bg-slate-100 w-full min-h-screen"> -->
	<body class="bg-slate-100 flex flex-col min-h-screen">
    <Nav client:only="react"/>
    <main class="flex justify-around my-10 self-stretch">
      <article class="prose w-3/5 h-full" >
        <slot />
      </article>
    </main>
		<footer class="self-center">© 2023 Mihaylo Dimo</footer>
  </body>
</html>
